@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata');

html,
body { 
	height: 100%;
}

.greetings,
p,
h1,
h2 {
	font-family: 'Crimson Pro', serif;
}

.flex-container{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1200px;
	background-color: #bae3cd;
	padding: 5px;
	height: 100%;
}

.header{
	display: flex;
	align-items: normal;
	justify-content: space-around;
	height: 105px;
	margin-bottom: 3em;
	background-color: #c4ec81;
	top: auto;
}

ul{
	display: flex;
	list-style-type: none;
}

ul li{
	margin-right: 30px;
}

li a{
	text-decoration: none;
	font-family: 'Literata', serif;
	font-size: 2rem;
	color: #fa8585;
	font-weight: 500;
}

.logo img{
	width: 100px;
	height: 105px;
	margin-left: 10px;
}

.about_me{
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	padding: 10px 20px;
}

.data{
	display: flex;
	align-items: center;
}

.fullname{
	margin-right: 20px;
	flex-basis: 600px;
}

.myImg{
	display: flex;
	margin-top: 10px;
	padding: 0px;
	flex-basis: 600px;
}

.knowledge{
	width: auto;
	max-width: 100%;
	margin: 3px auto;
}
.article{
	width: auto;
	max-width: 100%;
	margin: 3px auto;
}

.text{
	color: brown;
}
.footer{
	background-color: #7ef6aa;
	text-align: center;
	flex: 0 0 auto;
}